name = "rust-example"
main = "server/build/index.js"
compatibility_date = "2025-12-01"

[build]
command = """
cargo install --locked worker-build@=0.7.2 wasm-pack@=0.13.1 &&
cd ui && npm run build && cd - &&
cd server && worker-build --release
"""
watch_dir = ["server/src", "ui/src"]

[assets]
directory = "ui/dist"
